<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="Runner.NGTestListener">	
	</listener>

</listeners>	

  <test thread-count="5" name="Swiggy Landing Page">
    <classes>
       <class name="Runner.SwiggyLandingPageRunner"/>
      
      
    </classes>
  </test>
  <test thread-count="5" name="Swiggy Order Page Feature">
    <classes>
     
        <class name="Runner.SwiggyRestaurantsPageRunner"/>
      
    </classes>
  </test> 
   <test thread-count="5" name="Swiggy Order Page Feature">
    <classes>
     
       <class name="Runner.SwiggyOrdersPageRunner"/>
      
    </classes>
  </test> 
  
  <!-- Test -->
</suite> <!-- Suite -->
